@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    margin: 0px;
    padding: 0px;
    color: #000;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: block;
}
body{
    width: 100%;
}

/* header */
.top{
    position: fixed;
    float: left;
    width: 100%;
    height: 120px;
    z-index: 10;

    transition: all 0.5s;
}
.logo{
    float: left;
    width: 200px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    font-size: 20px;
    color: #fff;
}

#bg_menu{
    position: fixed;
    width: 100%;
    height: 200px;
    top: 121px;
    background-color: #fff;
    border-bottom: 2px solid #eee;

    z-index: 3;
    display: none;
}
.menu{
    position: absolute;
    width: 600px;
    height: 120px;
    left: 50%;
    margin-left: -300px;

    z-index: 5;
}
.navi>li{
    float: left;
}
.navi>li>a{
    width: 150px;
    height: 50px;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    line-height: 50px;
    font-family: "Nanum Gothic";
    font-size: 20px;
    font-weight: bold;
    color: #fff;

    transition: all 0.5s;
}
.submenu{
    position: fixed;
    width: 150px;
    height: 200px;
    z-index: 5;
    display: none;
    border-left: 2px solid #eee;
}
.submenu:nth-of-type(4){
    background-color: aqua;
}

.submenu>li>a{
    width: 100px;
    height: 50px;
    margin-top: 1px;
    margin-left: 25px;
    text-align: center;
    line-height: 50px;
    font-family: "Nanum Gothic";
    font-size: 16px;
    background-color: #fff;
}
.submenu>li>a:hover{
    font-weight: bold;
    color: #995f20;
}


.bg-video{
    position: absolute;
    width: 100%;
    height: 100%;
}
.bg-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notice{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: yellow;
}